.bg_utama{
    height: 100vh;
    padding: 2%;
    background: linear-gradient(180deg, #3DB6A0 0%, black 100%);
}

.bg1{
    border-radius: 34px;
    background-color: #3DB6A0;
    height: 95vh;
}

.login_Form{
    margin: 50px 100px 40px 30px;
    padding: 10px;
    background-color: white !important;
    border-radius: 20px;
}

.button{
    width: 140px;
    background-color: #3DB6A0;
    border: none;
    border-radius: 20px;
    margin-bottom: 16px;
}

.text_login{
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 47px;
}

.input_login{
    width: 80%;
}

.image{
    width: 500px;
    margin: 70px auto;
}

.direct{
    font-size: 14px;
    text-align: center;
}

.direct span{
    font-weight: bold;
    color: #3DB6A0;
}

.formGroup{
    position: relative;
    margin-bottom: 1.7rem;
    height: 48px;
}

.iconPass{
    position: absolute;
    margin-top: -2rem;
    cursor: pointer;
    left: 470px;
}

/* .formGroupConfirm{
    position: relative;
    margin-bottom: 1.7rem;
    height: 48px;
}
.iconConfirmPass{
    position: absolute;
    margin-top: -2rem;
    cursor: pointer;
    left: 470px;
} */

/* .inputElement{
    display: flex;
}

#fieldPass{
    padding: 0.5rem 1rem;
    padding-right: 2.8rem;
}

.eyeButton */