.container {
    padding: 16px;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.row {
    --bs-gutter-x: 0;
}

.content {
    background-color: #3DB6A0;
    padding: 16px ;
    border-radius: 10px ;
    height: 82vh;
}

.content .row .col {
    margin-right: 16px;
}

.aboutApp {
    height: 78vh;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
}

.profile{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
}

.aboutAuthor {
    height: 36vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
    margin-top: 16px;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

#subTitle {
    font-size: 24px;
    color: #3DB6A0;
    margin-top: 20px;
}

#paragraph1 {
    max-height: 55vh;
    text-align: justify;
    overflow: auto;
}

#paragraph2 {
    max-height:16vh;
    text-align: justify;
    overflow: auto;
}