.container {
    padding: 16px;
}

.content {
    background-color: #3DB6A0;
    padding: 16px ;
    border-radius: 10px ;
    width: 100%;
}

#imageTrans{
    margin-top: 16px;
    margin-bottom: 16px;
}

.profpic {
    width: 70%;
}

.recent {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
    margin-top: 16px;
}

.recentTitle {
    color: #3DB6A0; 
    font-size: 24px;
    font-weight: bold;
}

.recentTitle p {
    margin: 0;
}

#btnMore {
    background-color: #3DB6A0; 
    color: #FFFFFF;
}

.spent {
    height: 50%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
}

#subTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: start;
    color: #3DB6A0;
}

.card {
    padding: 16px;
    margin-top: 8px;
    background-color: #3DB6A0;
    border-radius: 10px;
    color: #FFFFFF;
}


