.container {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    padding-right: 16px;
}

.button {
    width: 100%;
    padding: 16px;
    padding-right: auto;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: left;
    background-color: white;
    border: none;
    color: black;
}

.button svg {
    margin-right: 16px;
    width: 24px;
}

.buttonLogout {
    width: 100%;
    padding: 16px;
    padding-right: auto;
    font-size: 16px;
    text-align: left;
    background-color: white;
    border: none;
    color: black;
}

.buttonLogout svg {
    margin-right: 16px;
    width: 24px;
}

.button:hover {
    background-color: #11332D;
    color: white;
}